#titulo_negativos, 
#titulo_positivos, 
#titulo_gerais, 
#titulo_ideologia, 
#titulo_medos, 
#titulo_tendencia{
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	font-size: 22px;
	font: bold;
	text-align: center;
}


#negativos, 
#positivos, 
#gerais, 
#ideologia, 
#medos, 
#tendencia{
	width: 100%;
	height: 50px;
	border: none;
	background-color: transparent;
	font-size: 18px;
	font: bold;
	overflow: hidden;
	text-align: center;
}