@font-face {
	font-family: "AA_typewriter";
	src: url("../fonts/AA_typewriter.ttf");
}

@font-face {
	font-family: "antikythera";
	src: url("../fonts/antikythera.ttf");
}

@font-face {
	font-family: "antikythera3d";
	src: url("../fonts/antikythera3d.ttf");
}

@font-face {
	font-family: "ARABIAN KNIGHT";
	src: url("../fonts/ARABIAN KNIGHT.ttf");
}

@font-face {
	font-family: "Arabic Magic";
	src: url("../fonts/Arabic Magic.ttf");
}

@font-face {
	font-family: "BASILEUS";
	src: url("../fonts/BASILEUS.ttf");
}

@font-face {
	font-family: "BlackNight";
	src: url("../fonts/BlackNight.ttf");
}

@font-face {
	font-family: "bonzai";
	src: url("../fonts/bonzai.ttf");
}

@font-face {
	font-family: "Cardinal";
	src: url("../fonts/Cardinal.ttf");
}

@font-face {
	font-family: "Cardinal-Alternate";
	src: url("../fonts/Cardinal-Alternate.ttf");
}

@font-face {
	font-family: "electrobyte";
	src: url("../fonts/electrobyte.ttf");
}

@font-face {
	font-family: "Halo Outline";
	src: url("../fonts/Halo Outline.ttf");
}

@font-face {
	font-family: "Halo";
	src: url("../fonts/Halo.ttf");
}

@font-face {
	font-family: "Hitman";
	src: url("../fonts/Hitman.ttf");
}

@font-face {
	font-family: "kinifed_";
	src: url("../fonts/kinifed_.ttf");
}