.search_lg{
	height: 10px;
}

.twitter-typeahead{
	width: 100%;
}

.search-title{
	width: 100px;
	color: #8470FF;
	font-size: 16px;
	font-weight: bold;
}

.search_box{
	margin-top: 50px;
	margin-top: 150px;
	margin-bottom:100px;
	width: 100%;
}

.search-button{
	width: 200px;	
}

.footer{
	background-color: white !important;
}

